body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: fit-content;
  display: flex;
  border: 1px solid #E1E0E0;
  border-bottom: none;
}

.row:last-of-type {
  border-bottom: 1px solid #E1E0E0;
}

.square {
  border-right: 1px solid #E1E0E0;
}

.square:last-of-type {
  border-right: none;
}

.color-selectors {
  display: flex;
  order: 2;
}

.color-selector {
  margin: 8px;
  width: 64px;
  height: 64px;
  display: flex;
  cursor: pointer;
}

.blue {
  background-color: #2E86AB;
}

.red {
  background-color: #F24236;
}

.yellow {
  background-color: #F5F749;
}

.green {
  background-color: #7DCE82;
}

.rainbow {
  background: linear-gradient(90deg, #F24236 0%, #F5F749 30%, #7DCE82 75%, #2E86AB 100%);
}

button {
  order: 1;
}

