@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFBFA;
  font-family: 'Space Mono', monospace;
}

h1 + div {
  display: flex;
  gap: 16px;
}

h1 {
  transform: translateX(-168px);
  margin-bottom: -4px;
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.palette button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
}

.blue {
  background-color: #5386E4;
}

.red {
  background-color: #F55536;
}

.yellow {
  background-color: #FFF275;
}

.green {
  background-color: #53CAA1;
}

.rainbow {
  background: linear-gradient(90deg, #F24236 0%, #F5F749 30%, #7DCE82 75%, #2E86AB 100%);
}

.eraser {
  background: transparent;
}

label {
  display: block;
  margin-bottom: 4px;
}

.controls button {
  font: inherit;
  background: #FFF275;
  border: 1px solid black;
}

.row {
  display: flex;
}

.square {
  border: 1px solid #EDE9EB;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
}

.square:last-child {
  border-right: 1px solid #EDE9EB;
}

.row:last-child .square {
  border-bottom: 1px solid #EDE9EB;
}

